{% extends 'base.html' %}

{% block title %}Cadastro de Pessoa{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Cadastro de Pessoa</h1>
    <a id="add-link" href="novapessoa/">
    <div class="col-2 add-div">
        <i class="fas fa-plus"></i> Cadastrar Pessoa
    </div>
    </a>
</div>


    <ul class="Pessoa">
        {% for pessoa in pessoas%}
        <li class="Pessoa">
            <span><a href="/pessoa/{{pessoa.id}}">{{pessoa.nome}}</a></span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}