{% extends 'base.html' %}

{% block title %}Pessoa{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>{{pessoa.nome}}</h1>
    <p>{{pessoa.email}}</p>
    <p>{{pessoa.fone}}</p>
</div>
{% endblock %}