{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<div class="container mt-4">
  <form action="submit", methode="POST">{% csrf_token %}

    <div class="form-group">
        <label form="username">Usuário</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>

   <div class="form-group">
          <label form="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
    </div>

    <div>
        {% for message in messages %}
            <div class="alert alert-danger">
                <strong>Error!</strong> {{ message }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-sucess">Entrar</button>
    </div>

  </div>

{% endblock %}