{% extends 'base.html' %}

{% block title %}Cadastro de Pessoa{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Adicione uma nova pessoa</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" class="btn btn-sucess" value="Criar Pessoa">
        {{pessoa.email}}</form>
</div>
{% endblock %}